#Coloque aqui o nome do Banco de Dados, usuário, senha e perfil
PROFILE =prod
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SPRING_JPA_HIBERNATE_DDL_AUTO=

#Coloque aqui o secret do JWT
API_SECURITY_TOKEN_SECRET=